{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/app/globals.css",
  "importOrder": [
    "^node:(.*)$",
    "^react$",
    "^react-dom(.*)$",
    "^next(.*)$",
    "^zod$",
    "^axios$",
    "^date-fns$",
    "^@base-ui/(.*)$",
    "^@tanstack/react-query$",
    "^@tanstack/react-table$",
    "^@tanstack/react-form$",
    "^@phosphor-icons/(.*)$",
    "^@sentry/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/env$",
    "^@/assets/(.*)",
    "^@/api/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/error/(.*)$",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ]
}
